body {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
    overflow-x: hidden;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.warp{
    width: 1236px;
    margin: auto;
    padding: 10px;
}

.relative{
    position: relative;
}

.div{
    display: block;
}

.no-reload{
    pointer-events: none;
}


