/* prod pay */
.prod-pay{
    background: #fff;
}

/* prod information */
.prod-information .item-name{
    font-size: 20px;
    font-weight: bold;
}

.prod-information .rate .evaluate .count{
    font-size: 12px;
    color: rgba(32, 153, 153, 0.637);
    padding-top: 3px;
}

.prod-information .brand{
    border-bottom: #ddd 1px solid;
}
/* item img */

.prod-outlook .item-img .arrow{
    font-size: 30px;
    margin: 150px 20px;
}

.prod-outlook .item-img .prod-img img{
    width: 300px;
    margin: 50px 20px;
}

/* left*/
.left{
    width: 530px;
}
/* pay information */
.pay-information .price strong{
    font-size: 25px;
    color: rgb(255, 0, 0);
}

.pay-information .price strike,
.pay-information .price .discord{
    padding: 10px 5px 0 10px;
}

.pay-information .prod-status p:last-child{
    padding-left: 10px;
}

.pay-information .quantity .set ul{
    margin-top: 10px;
    padding: 0 15px 0 5px;
}

.pay-information .quantity .set ul li{
    border: #ddd 1px solid;
}

.pay-information .quantity .set ul button{
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
}

.pay-information .quantity .set #quantity-count{
    width: 30px;
    text-align: center;
}

.pay-information .quantity .add-cart i{
    font-size: 30px;
    padding: 10px 0 0 10px;
    color: blue;
}

.pay-information .buy-1 .buy-btn{
    border-radius: 5px;
    margin-bottom: 10px;
}

.pay-information .buy-1 .buy-btn:first-child{
    background: red;
}
.pay-information .buy-1 .buy-btn:last-child{
    background: green;
    margin-left: 5px;
}

.pay-information .buy-2 .buy-btn{
    background: yellow;
    border-radius: 5px;
}

.pay-information .buy-2 .buy-btn .content strong,
.pay-information .buy-2 .buy-btn .content p{
    color: #000;
}

.pay-information .buy-2 .buy-btn:first-child{
    padding: 0 38px;
    margin-right: 5px;
}

.pay-information .buy-2 .buy-btn:last-child{
    padding: 0 31px;
}

.pay-information .buy .buy-btn i{
    font-size: 25px;
    padding: 10px ;
    border-right: #ddd solid 1px;
    color: #fff;
}

.pay-information .buy .buy-btn .content{
    text-align: center;
    color: #fff;
    padding: 0 10px 0 10px;
}

.pay-information .buy .buy-btn .content strong{
    font-size: 20px;
    font-weight: 300;
}

.pay-information .buy .buy-btn .content p{
    margin: 0;
}

/* free ship */
.free-ship{
    border: #ddd 1px solid;
    padding: 0 10px;
    margin-top: 5px;
}

.free-ship i{
    font-size: 25px;
    margin-top: 25px;
    margin-right: 5px;
    color: red;
}

.free-ship p{
    font-size: 15px;
    width: 450px;
}

/* contact */
.contact{
    border: #ddd 1px solid;
    margin-top: 5px;
}

.contact .commit p{
    border-bottom: #ddd 1px solid;
    padding: 5px 0;
    margin: 0;
}

.contact .hotline{
    text-align: center;
}

.contact .details{
    text-align: center;
}

.contact .details .show-less{
    display: none;
}

.contact .address{
    display: none;
}

.contact .address ul:first-child li{
    width: 100px;
}

.contact .address ul:first-child li p{
    font-weight: 600;
}

.contact .chat{
    border-top: #ddd 1px solid;
}

.contact .chat i{
    font-weight: 600;
}

/* right */
.useful-information{
    background-color: #fafafa;
}

.useful-information p{
    margin: 5px;
    padding: 5px;
}

.useful-information .info-title p{
    font-size: 18px;
    width: 200px;
}

.useful-information .info-option p{
    border-bottom: #ddd solid 1px;
}

/* similar */
.si-header{
    justify-content: space-between;
}

.si-header .si-title h2{
    margin: 14px ;
}

.similar{
    margin-top: 20px;
    background-color: #fff;
}

.similar .similar-search{
    margin: 14px;
}

.similar .similar-search .similar-input{
    position: relative;
}

.similar .similar-search button{
    height: 28px;
    margin: 7px;
    background: #ff9900;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.similar .similar-search input{
    width: 300px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid #fdb84f;
    font-size: 14px;
}

.similar .similar-search span{
    position: absolute;
    top: 11px;
    right: 8px;
}

.similar-item ul{
    margin: 0 auto;
}

.similar-item ul li{
    margin-bottom: 20px;
}

.similar-item ul li .flash-sale-product{
    margin: 10px 20px;
}

/* Thong so ky thuat */

.thongso-item{
    background-color: #fff;    
    width: 75%;
}

.thongso-item table tr{
    border-bottom: solid #ddd 1px;
}

.thongso-item table tr td{
    padding: 5px;
    width: 75%;
}

/* suggest */
.sugg-item ul li{
    width: 24%;
}

/* rate */
.rate-result{
    width: 75%;
    background-color: #fff;
}
.rate-outlook{
    justify-content: center;
    padding: 10px 0;
    border-bottom: #ddd solid 1px;
}

.rate-point{
    text-align: center;
    padding: 10px 30px 0 0;
}

.rate-point .rate-star{}

.rate-point .rate-star i{
    overflow: hidden;
    position: relative;
}


.rate-point .rate-star-percent{
    position: absolute;
    background-color: yellow;
    width: 50%;
    height: 20px;
}


.rate-point .rate-avg p{
    margin: 0;
}

.rate-count ul li{
    display: flex;
    margin: 5px;
}

.rate-count ul li .count{
    position: relative;
    background-color: #ddd;
    width: 100px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.rate-count ul li .count-percent{
    background-color: yellow;
    position: absolute;
    width: 100%;
    height: 20px;
}

/* your comment */
.comment{
    background-color: #fff;
    width: 75%;
}

.comment .comment-title{
    font-weight: 600;font-size: 20px;
}

.comment .comment-title p{
    margin-left: 10px;
}

.comment .your-rate p{
    margin-left: 10px;
}
.comment .your-rate .your-rate-star ul{
    margin-left: 150px;
}

.comment .your-rate .your-rate-star ul li{
    text-align: center;
    width: 50px;
}

.comment .your-rate .your-rate-star ul li i{
    font-size: 30px;
    color: orange;
}

.comment .your-rate .your-rate-star ul li i:hover{
    color: yellow;
}

/* question */
.question p{
    margin: 0 0 0 10px;
}
.question .question-input textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    position: relative;
}

.question .question-input .add-img{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: right;
    top: 2690px;
    right: 1160px;
}

/* name-input */
.question-input{
    margin: 10px;
    border: 1px solid #000;
    overflow: hidden;
    margin-bottom: 0;
}

.question-input .name-input{
    border-top: #000 1px solid;
}
.name-input .option ul:first-child{
    margin: 5px;
}

.name-input .option ul li{
    margin: 0 5px 0 0;
}

.name-input .option ul li{
    border: #000 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.name-input input{
    width: 210px;
    height: 20px;
    margin: 6px;

}

.name-input input#submit{
    float: right;
    background: blue;
    color: #fff;
    padding: 5px 40px;
    margin: 5px;
    height: auto;
}

/* all comment */
.all-comment{
    background-color: #fff;
    width: 72.6%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
}

.all-comment .comment-filter ul li{
    border-bottom: 3px solid #ddd;
    margin-left: 10px;
}

.all-comment .comment-filter ul li:first-child{
    margin-left: -10px;
    font-weight: 600;
    border-bottom: red 3px solid;
}

.user-question{
    margin-top: 20px;
}

.user-question .user-name .name{
    font-weight: 500;
    color: #7371c4;
    margin: 0 10px;
}

.user-question .user-name .rating{
    color: orange;
}

.user-question .admin-answer{
    background-color: #eeeeee;
    margin: 10px;
    padding: 10px;
}

.user-question .admin-answer p{
    margin: 0;
}

.float-right-care-list{
    float: right;
    position: relative;
    background-color: #fff;
    right: 90px;
}

.float-right-care-list .care-title p{
    font-size: 20px ;
    font-weight: 400;
    padding-left: 10px;
}

.float-right-care-list .item-list{
    width: 300px;
}

.float-right-care-list .item-img img{
    width: 100px;
}


.float-right-care-list .item-list .item{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}