.detail{
    background-color: #fff;
    width: 20%;
    float: left;
}

.title{
    border-bottom: #ccc solid 1px;
    text-align: center;
}

.title span{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    font-size: 15px;
}

.prod-detail-item ul li a{
    font-size: 15px;
    line-height: 20px;
}